.twoDogs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-centre {
  margin: 10px;
  align-items: center;
}
.dog-img {
  width: 400px;
  height: 400px;
}
.leaderboard {
  width: 402px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leaderbord-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 70px;
  font-weight: 600;
  color: #fdfdfe;
  text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
  text-align: center;
  margin: 20px;
}
